/* ----- BODY ----- */
/* Body begins after navbar ends */
body{
  font-family: 'Roboto';
  background-color: #29354E;
  position: relative;
}

/* Container */
.container{
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 3%;
  background-color: #29354E;
  min-height:100vh;
  height:100%;
  padding-bottom: 35px;
}

@media only screen and (max-width: 576px) {
  .container{
    padding-right:20px;
    padding-left: 20px;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container{
    padding-right:5%;
    padding-left: 5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container{
    padding-right:8%;
    padding-left: 8%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
  .container{
    padding-right:10%;
    padding-left: 10%;
  }
}

#titleContainer {
  border-bottom: solid 1px #E0E0E5;
}

#home-link {
  text-align: right;
  font-weight: 300;
  color: #F6F6FB;
  font-size: 1em;
}

.soc-link {
  font-family: 'Roboto';
  font-size: 1.4em;
  color: #B2B3B7;
  padding-right: 9px;
}

.soc-link:hover {
  color: #F6F6FB;
}

#mainTitle {
  font-family: 'Lato';
  font-size: 2.5em;
  color: #F6F6FB;
}

#mainDescription {
  font-family: 'Lato';
  font-size: 1.4em;
  font-weight: 300;
  color: #C1C1C1;
}

.project-date {
  font-family: 'Roboto';
  color: #B2B3B7;
  font-size: 0.9em;
}

#projectContainer {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-a {
  font-family: 'Lato';
  color: #F6F6FB;
  font-size: 2em;
  padding-bottom: 10px;
}

.title-aa {
  font-family: 'Lato';
  color: #F6F6FB;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.title-aaa {
  font-family: 'Lato';
  color: #F6F6FB;
  font-size: 1.1em;
  padding-bottom: 5px;
}

.text-main {
  font-family: 'Roboto';
  color: #B2B3B7;
  font-size: 1em;
  line-height: 1.7em;
  text-align: justify;
}

.text-imp{
  color: #C1C1C1;
  font-weight: 700;
}

.text-link, .text-link:hover {
  color: #5177CD;
}

.project-links {
  /* padding-left: 10%; */
  text-align: right;
  font-weight: 300;
}

.links, .links:hover {
  color: #5177CD;
  font-size: 1em;
}

#map { height: 400px; }

#time {
  background-color: #171717;
  font-family: 'Roboto';
  color: #8A8A8C;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
  text-align: justify;
}

#countryContainer {
  text-align: center;
  padding-bottom: 30px;
}

#arrow {
  width:25px;
  display: inline-block;
}

#country {
  display: inline-block;
  vertical-align: bottom;
  font-family: 'Roboto';
  color: #B2B3B7;
  font-size: 1.5em;
  line-height: 1.3em;
  text-align: center;
}

pre {
  border-radius: 4px;
  border: solid 1px #4F596E;
}

p > code.hljs {
  display: inline;
}

/* ----- FOOTER ----- */
.footer{

  align-items: center;
  color: #F6F6FB;
  font-family: "Roboto";
  text-align: center;
  font-size:0.7rem;
  /* border-top: solid 1px #E0E0E5; */
  background-color: #29354E;
  height:35px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

#email{
  color: #5177CD;
}
